<div class="background-image">
  <div class="passport-header">
    <h6>MY JOURNEY TO WORLD CITIZENSHIP<h6>
    <h6><%= "#{@user.name} is currently a citizen in progress!" %><h6>
    <h6>CITIZENSHIPS<h6>
  </div>

<div class="columns">
  <div>
      <%= image_tag("local.png", class: "stamp-image") %>
      <h6>Local Citizenship<h6>
      <h6><%= "#{@stamps.count}/25 stamps"%><h6>
  </div>
  <div>
    <%= image_tag("district.png", class: "stamp-image") %>
    <h6>District Citizenship<h6>
    <h6><%= "#{@stamps.count}/20 stamps"%><h6>
  </div>
  <div class="">
    <%= image_tag("regional.png", class: "stamp-image") %>
    <h6>Regional Citizenship<h6>
    <h6><%= "#{@stamps.count}/15 stamps"%><h6>
  </div>
  <div class="">
    <%= image_tag("national.png", class: "stamp-image") %>
    <h6>National Citizenship<h6>
    <h6><%= "#{@stamps.count}/20 stamps"%><h6>
  </div>
</div>


<div class="so-international">
  <div class="so-international-text">
    <%= image_tag("international.png", class: "international-stamp-image") %>
    <h6>International Citizenship<h6>
    <h6><%= "#{@stamps.count}/25 stamps"%><h6>
  </div>
</div>
