<table class="table-alternating">
  <thead>
    <tr>
      <th>Business Name</th>
      <th>Category</th>
      <th>Stamp</th>
      <th>Item</th>
      <th>Who You're Helping</th>
      <th>Distance</th>
    </tr>
  </thead>
  <tbody>
    <div class="stamps">
      <% if @stamps %>
        <% @stamps.each do |stamp| %>
          <tr>
            <td><%= stamp.business_name %></td>
            <td><%= stamp.category %></td>
            <td><%= stamp.stamp %></td>
            <td><%= link_to stamp.item, stamp_path(stamp.id, stamp.stamp) %></td>
            <td><%= stamp.organization %></td>
            <td><%= stamp.distance %></td>
          </tr>
        <% end %>
      <% end %>
    </div>
  </tbody>
</table>
