<div class="background-image">
  <div class="main-text">
    <div class="spacing">
      <a><%= link_to "Add New Item", new_business_path %></a>
    </div>
      <div class="spacing">
        <div class="row">
          <%= form_tag(stamps_path, method: "get") do %>
            <%= label_tag :street%>
            <%= text_field_tag :street_address %>
            <%= label_tag :city %>
            <%= text_field_tag :city %>
            <%= label_tag :state %>
            <%= select_tag :state, options_for_select(states), class: "state-selector"%>
            <%= submit_tag "Search", class: "search-button" %>
          <% end %>
        </div>
      </div>
    <table class="table-alternating">
      <thead>
        <tr>
          <th>Business Name</th>
          <th>Category</th>
          <th>Stamp</th>
          <th>Item</th>
          <th>Who You're Helping</th>
          <th>Distance</th>
        </tr>
      </thead>
      <tbody>
        <div class="stamps">
          <% if @stamps %>
            <% @stamps.each do |stamp| %>
              <tr>
                <td><%= stamp.business_name %></td>
                <td><%= stamp.category %></td>
                <td><%= stamp.stamp %></td>
                <td><%= link_to stamp.item, stamp_path(stamp.id, stamp: stamp.stamp) %></td>
                <td><%= stamp.organization %></td>
                <td><%= stamp.distance %></td>
              </tr>
            <% end %>
          <% else %>
          <tr>
            <% @items.each do |item| %>
              <td><%= item.business.name %></td>
              <td><%= item.category.name %></td>
              <td>-</td>
              <td><%= link_to item.name, item_path(item.id) %></td>
              <td><%= item.organization %></td>
              <td>-</td>
            </tr>
            <% end %>
          <% end %>
        </div>
      </tbody>
    </table>
  </div>
</div>
