<h2><%= @item.name %><h2>
<div class="stamp">
  <% if @item %>
    <%= @item.business_name %>
    <%= @item.business_location %>
    <%= @item.category.name %>
    <%= @item.donation_amount %>
    <%= @item.organization %>
    <%= @item.organization_location %>
    <%= @stamp %>
  <% end %>
</div>
