<div class="background-image">
  <div class="main-text">
    <div class="show-columns">
      <div class="">
        <h2 class="show-header">Where to Purchase</h2>
          <% if @item %>
            <ul>
              <li><h6><%= @item.business.name %></h6></li>
              <li><%= @item.business.location %></li>
              <li>Donation amount: <%= @item.donation_amount %></li>
              <li><h6><%= @item.name %><h6></li>
            </ul>
          </div>
          <div class="">
            <h2 class="show-header">Who You're Helping</h2>
            <ul>
              <li><h6 class="org"><%= @item.organization %></h6></li>
              <li><%= @item.organization.location %></li>
              <li>Category: <%= @item.category.name %></li>
              <li>Stamp: <%= @stamp %></li>
              <li class="complete-button"><a><%= link_to "Item Purchased", user_passport_path(current_user.id, @passport.id, stamp: @stamp) %></a></li>
            </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
