
<div class= "hero">
<center>
  <h4 class= "hero-text">A way to give back to the world through the purchases you already make<h4>
</center>

<center class="centered-text">
    <div>
      <h2 class="intro-title"> How you're helping </h2>
      <p class="intro">Use World Citizen to find products and busineses that give a portion
        of the profits to charities and non-profits.
      </p>

    </div>
    <div class="hero-right-column">
      <h2 class="intro-title">How to play</h2>
      <p class="intro">For every eligible product you buy you get a passport stamp based on
        the location of the charity you helped. As you donation locations grow
        in reach so does your citizenship level.
      </p>
    </div>
</center>

<section class="search-section">
  <p>Start searching for Stamps near you!</p>
    <div class="row">
      <div class="search">
        <%= form_tag(stamps_path, method: "get") do %>
          <%= label_tag :street%>
          <%= text_field_tag :street_address %>
          <%= label_tag :city %>
          <%= text_field_tag :city %>
          <%= label_tag :state %>
          <%= select_tag :state, options_for_select(states), class: "state-selector"%>
          <%= submit_tag "Search", class: "search-button" %>
        <% end %>
      </div>
    </div>
  </div>
</section>
