<center>
  <h1>World Citizen<h1>
    <%= image_tag("world.png", size: "280x170", class: "no- responsive no-border") %>
  <h4>A way to give back to the world through the purchases you already make<h4>
</center>

<center>
  <div class="row flex-spaces">
    <div class="col-4 col border-dotted border-thick border-secondary">How
      you're helping
    <br>
      <h5>Use World Citizen to find products and busineses that give a portion
        of the profits to charities and non-profits.
      <h5>
    </div>
    <div class="col-4 col border-dotted border-thick border-secondary">How to
      play
    <br>
      <h5>For every eligible product you buy you get a passport stamp based on
        the location of the charity you helped. As you donation locations grow
        in reach so does your citizenship level.
      <h5>
    </div>
  </div>
</center>
<br>

<table class="table-alternating">
  <thead>
    <tr>
      <th>Business Name</th>
      <th>Category</th>
      <th>Stamp</th>
      <th>Item</th>
      <th>Who You're Helping</th>
      <th>Distance</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.business_name %></td>
        <td><%= item.category.name %></td>
        <td>Local</td>
        <td><%= item.name %></td>
        <td><%= item.organization %></td>
        <td><%= @distance %></td>
      </tr>
    <% end %>
  </tbody>
</table>
