<div class="background-image">
  <div class="text">
      <%= @item.business_name %>
      <%= @item.business_location %>
      <%= @item.name %>
      <%= @item.donation_amount %>
      <%= @item.organization %>
      <%= @item.organization_location %>
      <%= @item.category.name %>
  </div>
</div>
