<div class="campaigns">
  <% if @campaigns %>

    <li><%= @campaigns.title %></li>
    <li><%= @campaigns.url %></li>
    <li><%= @campaigns.stamp %></li>
    <li><%= @campaigns.percent_funded %></li>
    <li><%= link_to 'Completed', user_passport_path(current_user.id, @campaigns.stamp) %></li>
<% end %>
</div>
