<!DOCTYPE html>
<html>
  <head>
    <title>WorldCitizen</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto" rel="stylesheet">
</head>

  <body>
    <%= render 'partials/nav' %>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name %>
      <% end %>
      <div id="wrapper" class="sm-12 col">
        <%= yield %>
    </div>
  </body>
</html>
